@import "/fonts.css";
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index-container {
  display: flex;
  padding-top: 0;
  transition: all ease 1s;
}
#index-container > :any-link {
  transition: all 200ms ease;
  flex: 1;
  color: white;
  text-decoration: none;
  font-family: Iosevka, monospace;
  border: 1vmax white solid;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16vmax;
  height: 8vmax;
  background: black;
  font-size: 3vmax;
}
#index-container > :any-link:hover,
#index-container > :any-link:focus,
#index-container > :any-link:active {
  flex: 2;
}
@media (max-aspect-ratio: 3/2) {
  #index-container {
    padding-top: 3vmax;
    flex-direction: column;
  }
  #index-container > :any-link:hover,
  #index-container > :any-link:focus,
  #index-container > :any-link:active {
    flex: 1;
    height: 16vmax;
  }
}
#logo {
  height: 25vmax;
  width: 50vmax;
  max-height: 50vw;
  max-width: 100vw;
  transition: all ease 1s;
}
#root {
  display: contents;
}
#root::before {
  content: "loaded";
  position: absolute;
  transition: all ease 1s;
  font-size: 10vmax;
  font-family: monospace;
  opacity: 0;
}
#root:empty::before {
  content: "loading...";
  font-size: 5vmax;
  opacity: 1;
}
